# === IDE ===
.idea/
*.iml
*.ipr
*.iws
.vscode/
.sts4-cache/
.apt_generated/
.classpath/
.project/
.settings/
.factorypath/
.springBeans/

# === Maven ===
.mvn/wrapper/maven-wrapper.jar
HELP.md
.env

# === NetBeans ===
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# === Ignorar TODO target/ EXCEPTO el arquetipo ===
target/
!target/generated-sources/archetype/
!target/generated-sources/archetype/**

# === Build en src (si usas Gradle) ===
!**/src/main/**/build/
!**/src/test/**/build/